/* mobile max-size : 576px */
/* the styled font */
@import url('https://fonts.googleapis.com/css2?family=Fasthand&display=swap');

.s-font {
    font-family: "Fasthand", cursive;
    font-weight: 400;
    font-style: normal;
  }

/* main font */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.m-font{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }

  .m-b-color{
    background-color: #E6533C;
    color: white;
    border: none;
    padding: 0.4rem;
    border-radius: 1rem;
  }
  .btn{
    background-color: transparent;
    color: white;
    border: none;
    padding: 0.4rem;
    border-radius: 1rem;
    border: 1px solid gray;
    width: 14rem;
  }

  body{
    background: linear-gradient(to top, rgb(0, 0, 0), transparent);
    background-repeat: no-repeat;
    font-family: "Inter", sans-serif;
  }

  .gap{
    width: 80%;
    margin: auto;
  }

  /* navbar styling */
  .navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }


  .nav_lists > li{
    list-style: none;
    padding-inline: 0.4rem;
    padding: 0.2rem 0.4rem;
    align-items: center;
    display: flex;

  }
  .nav_lists{
    display: flex ;
    padding: 0.5rem;
    border: 1px solid #e6e6e6;
    border-radius: 1rem;
  }

  .home{
    color: white;
    font-weight: 800;
    border-radius: 2rem;
    border: 1px solid ;
  }

  .menu-icon{
    display:none;
  }

  .banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .tree{
    color: white;
    background-color: rgba(245, 222, 179, 0.233);
    width: 10rem;
    height: 6rem;
    padding: 0.5rem;
    border-radius: 1rem;
    border: 1px solid rgba(245, 222, 179, 0.637);
  }

  .ball{
    width: 10px;
    height: 10px;
    background-color: #E6533C;
    border-radius: 50%;
  }

  .floating{
    position: relative;
  }
  .b-tag{
    font-size: 4rem;
  }

  .t-1{
    position: absolute;
    top: 5rem;
    right: 1rem;
  }
  .t-2{
    position: absolute;
    bottom: 2rem;
    left: 5rem;
  }

  .cards{
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
  }

  .card img{
    border-radius: 50%;
  }

  .card{
    text-align: center;
    margin-bottom: 2rem;
  }


  .run{
    background-color: rgba(136, 135, 135, 0.651);
    padding: 1rem;
    width: 60%;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20%;
    color: white;
    border: 1px solid rgb(175, 175, 175);
  }

  .btnj{
    width: 100%;
    padding: 20px;
    color: white;
    font-weight: 900;
    border: none;
    border-radius: 2rem;
  }

  .imgrun{
    width: 400px;

  }
  .hlength{
    width: 100%;
  }



  .flenght{
    width: 100%; 
  }

  .cardss > img{
    width: 100%;
    height: 300px;
    border-radius: 1rem;
  }

  .cardss{
    width: 100%;
    position: relative;
    margin: auto;
    margin-top: 2rem;
    
  }

  .cards-content{
    position: absolute;
    left: 1rem;
    bottom: 0;
  }

  .cards-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
    background-color: rgba(121, 121, 121, 0.267);
    padding: 1rem;
    border-radius: 2rem;
    border: 1px solid gray;
  }

  .footer-cnt{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8rem;
  }

  .fftr{
    display: flex;
    gap: 4rem;
  }

  .fftr li{
    list-style: none;
  }

  footer{
    margin-top: 4rem;
    padding-bottom: 2rem;
    background-color: rgba(134, 134, 134, 0.192);
  }
  /* media query */
  @media screen and (max-width: 576px) {
    .menu-icon{
        display: flex;
        justify-content: space-between;
        margin-left: 5.2rem;
        width: 40%;
    }
    .nav_lists{
        display: none;
    }

    .banner{
        display: block;

    }
    .b-tag{
      font-size: 0.9rem;
    }
    .t-1{
      top: 0;
      right: 0;
    }
    .t-2{
      bottom: 0;
      left: 0;
    }
    .floating{
      margin-top: 2rem;
    }
    .b-tag{
        font-size: 3rem;
    }

    .cards{
        display: block;
    }

    .run{
      width: 80%;
      display: block;
    }

    .imgrun{
      width: 100%;
      margin-top: 2rem;
    }

    .cards-container{
      grid-template-columns: repeat(1, 1fr);
    }
    .footer-cnt{
      display: block;
      width: 90%;
      margin-left: 2rem;
    }
    .fftr{
      display: block;
    }


  }
